{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Geleria mis perris</title>
		<link rel="stylesheet" href="{% static 'css/galeria.css' %}">
    </head>
    <body>
      <div class="contenedor">
    		<header> 
    			<div class="logo">
    				<img src="{% static 'img/logo.png' %}" alt="Logo">
    				<a href="#">Mis Perris</a>
    			</div>

    			<nav> 
    			<a href="{ % url 'index' %}">Inicio</a>
				<a href="{% url 'index' %}">Quienes Somos</a>
				<a href="{% url 'form' %}">Adoptar</a>
				<a href="{% url 'galeria' %}">Galeria</a>
                </nav>
                
            </header>
    <section id="galeria">
      <h3>Galeria Mis Perris</h3>
      <div class="contenedor-galeria">
          <div class="gal-pet">
              <img src="{% static 'img/galeria/perro-1.jpg' %}" alt="kylian">
              <h4>
                 <p><b>NOMBRE:</b>kylian</p>
                 <p><b>DESCRIPCION:</b> jugeton y regalon </p>
                 <p><b>FECHA DE PUBLICACION:</b> 29 de Octubre de 2018 a las 16:48</p>
              </h4>
          </div>
          <div class="gal-pet">
              <img src="{% static 'img/galeria/perro-2.jpg' %}" alt="sergi">
              <h4>
                 <p><b>NOMBRE:</b>sergi</p>
                 <p><b>DESCRIPCION:</b>es muy agradable y simpatico</p>
                 <p><b>FECHA DE PUBLICACION:</b> 29 de Octubre de 2018 a las 16:50</p>
              </h4>
          </div>
          <div class="gal-pet">
              <img src="{% static 'img/galeria/perro-3.jpg' %}" alt="machblack">
              <h4>
                  <p><b>NOMBRE:</b>Machine Black</p>
                  <p><b>DESCRIPCION:</b>muy protector con sus dueños </p>
                  <p><b>FECHA DE PUBLICACION:</b> 29 de Octubre de 2018 a las 16:55</p>
              </h4>
          </div>
          <div class="gal-pet">
            <img src="{% static 'img/galeria/perro-4.jpg' %}" alt="nessy">
            <h4>
              <p><b>NOMBRE:</b>Nessy</p>
              <p><b>DESCRIPCION:</b>es una muy buena compañia para los niños de la casa</p>
              <p><b>FECHA DE PUBLICACION:</b> 29 de Octubre de 2018 a las 16:56</p>
            </h4>
        </div>
        <div class="gal-pet">
          <img src="{% static 'img/galeria/perro-5.jpg' %}" alt="perrocnbotas">
          <h4>
            <p><b>NOMBRE:</b>PerroConBotas</p>
            <p><b>DESCRIPCION:</b>igual de adorable al gato de la pelicula</p>
            <p><b>FECHA DE PUBLICACION:</b> 29 de Octubre de 2018 a las 16:57</p>
          </h4>
        </div>
</section>
<footer>
	<small><em>&copy;Todos los Derechos Reservados.</em></small>
</footer>
