body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url('http://soscreacionesweb.com/sites/default/files/fondo-slide-2_0.jpg');
}
.page-header logo {
	color:black;
	font-size:30px;
}

/*Logo*/
.page-header logo img {
	width:50px;
	vertical-align: top;
}

.page-header logo a {
	color:#fff;
	text-decoration: none;
	line-height:50px;
}

/*Menú Superior*/
.page-header nav {
	width:100%;
	margin-right: 100px;

	/* Flexbox */
	display:flex;
	flex-direction:row;
	align-items:center;
}

.page-header nav a {
	color:#fff;
	text-align: center;
	text-decoration: none;
	padding:10px;
}

.page-header nav a:hover {
	background:#6dccaa
}
body{
	margin: 0;
}
.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}
.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
footer{
	width: 100%;
	background:gray;
	padding:10px;
}